{
  "semi": false,
  "trailingComma": "none",

  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",

  "tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 100
}
